.btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  background-color: hsl(125, 94%, 43%);
}

.btn:hover{
  background-color: hsl(125, 74%, 60%);
}
